!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BootcampAskSimulator
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:400,700|Arvo:400,700|Open+Sans'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -flash.each do |name, message|
      %div{ class: "alert-box #{name}", data: {alert: ""} }
        =message
    = yield
    #footer
      #byline
        Brought to you by The Story of Stuff Project
        %br
        As part of the Citizen Muscle Bootcamp