!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BootcampAskSimulator
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -flash.each do |name, message|
      %div{ class: "alert-box #{name}", data: {alert: ""} }
        =message
    = yield